apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vote
  name: vote
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
        - image: krishmint/votingproj-voteapp:v1
          name: vote
          ports:
            - containerPort: 5000    
          env:
          - name: REDIS_HOST
            value: "10.47.5.235"
          - name: REDIS_PORT
            value: "6379"

      tolerations:
      - key: "ZONE"
        operator: "Equal"
        value: "A"
        effect: "NoSchedule"
